<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" layout="row" layout-align="center center">
    <mat-toolbar  class="mat-toolbar mat-primary">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                     [opened]="true"  >
            <mat-nav-list>
                <a mat-list-item routerLink="/home">Home</a>
                <a mat-list-item routerLink="/counter">Counter</a>
                <a mat-list-item routerLink="[{ outlets: { 'sidenav': ['/counter'] } }]">Fetch Data</a>
            </mat-nav-list>
        </mat-sidenav>
            
        <mat-sidenav-content class="main-content-page">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
