::ng-deep .mat-dialog-container {
    padding: 0px 0px 0px 0px;
}


::ng-deep .mat-tab-body {
    padding: 24px 16px 24px 16px;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
    
}

::ng-deep .mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
    overflow: hidden;
}

::ng-deep .mat-tab-body-wrapper {
    height: 100%;
}



::ng-deep .mat-form-field {
    margin-right: 16px;
    margin-bottom: 16px;
}


.flex-expand
{
    flex: 1 1 auto;
    
}
.mat-input-element {
    width: 80%;
    min-width:80%;
    max-width: 100%;
    
}

::ng-deep .mat-dialog-content {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width :100%;
    height:100%;
    max-height:100%;
}

::ng-deep .mat-tab-group
{
    height:100%;    
}
.tab-form
{
    height:100%;

}

form{
    height:100%;
}
.form-content {
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.spacer {
    height: 10%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


